.navbar{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
}
.nav-admin{
    font-size: 20px;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 12px; /* adjust spacing between logo and "Admin Panel" */
}
.nav-logo{
    width: 60px;
}
.nav-profile{
    width: 75px;
}
.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout-button {
    padding: 10px 20px;
    background-color: #378eea;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logout-button:hover {
    background-color: #e04344;
    transform: scale(1.02);
}

@media(max-width:800px){
    .navbar{
        padding: 15px 30px;
    }
    .nav-logo{
        width: 20px;
    }
    .nav-profile{
        width: 60px;
    }
    .nav-actions {
        gap: 10px;
    }
    .logout-button {
        padding: 8px 14px;
        font-size: 14px;
        border-radius: 4px;
    }
}